.table-container>h2,h3{
    font-style: italic;
}

.underline{
    text-decoration-line: underline;
}

.width-100{
    width: 100%;
}

table, th, td{
    border-collapse: collapse;
    padding: 0.5em 5em;
    text-align: left;
}
/* 
.dates{
    text-align: right;
} */

.pad-1{
    padding-right: 1em;
}

.align-right{
    text-align: right;
}


